*.scomp
*.mcomp
*~
*.log
source_work/*
mapped_work/*
work/*
WORK/*
db/*
output_files/*
simulation/*
incremental_db/*
reports/*.rep
analyzed/*
*.stran
*.mtran
transcript
alib-52/
default.svf
*.svf
*.alib
*.bak
*.BAK
covhtmlreport/
#*#
*.qws
